
        <!--
          - #HERO
        -->

        <section class="hero" id="home">
            <div class="container">

                <div class="hero-content">

                    <h1 class="h1 hero-title">Conecte Doe</h1>

                    <p class="hero-text">
                        Conectando pessoas e propósitos!
                        Juntos fazendo a diferença.
                    </p>

                    <a asp-controller="Logar" asp-action="Index"><button class="btn btn-primary">Participar</button></a>


                </div>

                <div class="hero-banner">
                    <img src="https://raw.githubusercontent.com/gabrielacarv/ConecteDoeImagens/main/bannerPrincipalFreepik.png" alt="shape" class="bannerPrincipal">
                </div>

            </div>

            <img src="https://raw.githubusercontent.com/gabrielacarv/ConecteDoeImagens/main/formaPrincipalCorTema.png" alt="shape" class="shape-content">
        </section>





        <!--
          - #ABOUT
        -->

        <section class="about" id="about">

            <div class="container">

                <div class="about-top">
                    <br />
                    <br />
                    <h2 class="h2 section-title">O que fazemos</h2>

                    <p class="section-text">
                        Somos uma plataforma voltada para ajudar instituições de caridade e doadores, proporcionando uma maneira mais rápida e fácil de receber e realizar doações. Nosso objetivo é tornar essas ações rápidas, fáceis e seguras, fazendo com que ambas as partes saiam satisfeitas.
                    </p>

                    <ul class="about-list">

                        <li>
                            <div class="about-card">

                                <div class="card-icon">
                                    <ion-icon name="briefcase-outline"></ion-icon>
                                </div>

                                <h3 class="h3 card-title">Forma rápida e eficiente</h3>

                                <p class="card-text">
                                    Faça ou receba sua doação através de PIX diretamente, recebendo um comprovante após realizar ou receber a doação.
                                </p>

                            </div>
                        </li>

                        <li>
                            <div class="about-card">

                                <div class="card-icon">
                                    <ion-icon name="chatbubbles-outline"></ion-icon>
                                </div>

                                <h3 class="h3 card-title">Fácil visualização</h3>

                                <p class="card-text">
                                    Dentro da plataforma, você pode visualizar como a instituição funciona e também ver feedbacks de outras pessoas que doaram para a instituição em questão.
                                </p>

                            </div>
                        </li>

                        <li>
                            <div class="about-card">

                                <div class="card-icon">
                                    <ion-icon name="rocket-outline"></ion-icon>
                                </div>

                                <h3 class="h3 card-title">Cadastro gratuito</h3>

                                <p class="card-text">
                                    Cadastro totalmente gratuito. Cadastre-se, seja você doador ou instituição que deseja participar do programa.
                                </p>

                            </div>
                        </li>

                    </ul>

                </div>

                <div class="about-bottom">

                    <figure class="about-bottom-banner">
                        <img src="https://raw.githubusercontent.com/gabrielacarv/ConecteDoeImagens/fe197a645f6c59911b1ac246537cf4902ccd0aae/VenhaFazerParte.svg" alt="about banner" class="about-banner">
                    </figure>

                    <div class="about-bottom-content">

                        <h2 class="h2 section-title">Venha você também fazer parte desta família</h2>

                        <p class="section-text">
                            Será um prazer ter você conosco, seja como doador ou instituição. Nossa plataforma está de portas abertas para te ajudar.
                        </p>

                        <a asp-controller="Logar" asp-action="SelecionaTipoUsuario"><button class="btn btn-secondary">Cadastre-se já!</button></a>

                    </div>

                </div>
                <br />
                <br />
        </section>



        <!--
          - #CONTACT
        -->

        <section class="contact" id="contact">
            <div class="container">

                <div class="contact-content">
                    <h2 class="h2 contact-title">Não fique com dúvidas. Fale com a gente!</h2>

                    <figure class="contact-banner">
                        <img src="https://raw.githubusercontent.com/gabrielacarv/ConecteDoeImagens/e8d1ad58994a904e55dc336f1c712dbf336ac5a3/FaleConosco.svg" alt="contact banner">
                    </figure>
                </div>

                <form action="" class="contact-form">

                    <div class="input-wrapper">
                        <label for="name" class="input-label">Nome *</label>

                        <input type="text" name="name" id="name" required placeholder="Nome" class="input-field">
                    </div>

                    <div class="input-wrapper">
                        <label for="phone" class="input-label">Telefone</label>

                        <input type="tel" name="phone" id="phone" placeholder="Número de telefone" class="input-field">
                    </div>

                    <div class="input-wrapper">
                        <label for="email" class="input-label">Email *</label>

                        <input type="email" name="email" id="email" required placeholder="Endereço de e-mail" class="input-field">
                    </div>

                    <div class="input-wrapper">
                        <label for="message" class="input-label">Como podemos ajudar? *</label>

                        <textarea name="message" id="message" placeholder="Descrição" required
                                  class="input-field"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Enviar Mensagem</button>

                </form>

            </div>
        </section>
