@using ConecteDoe.WebApp.Models
@model PerfilInstituicaoViewModel


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conecte Doe</title>
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <!--
      - favicon link
    -->
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/gabrielacarv/ConecteDoeImagens/main/ConecteDoe.ico" type="image/svg+xml">

    <!--
      - custom css link
    -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!--
      - custom js link
    -->
    <script src="~/js/PerfilUsuario.js"></script>
    <link rel="stylesheet" href="~/css/PerfilInstituicao.css" asp-append-version="true" />

    <!--
      - google font link
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    
    <header>
        <div class="container">

            <a href="#" class="logo">
                <img src="https://raw.githubusercontent.com/gabrielacarv/ConecteDoeImagens/main/LogoConecteDoe.png" width="180px" alt="ConecteDoe logo">
            </a>
            <div class="navbar-wrapper">
                <button class="navbar-menu-btn" data-navbar-toggle-btn>
                    <ion-icon name="menu-outline"></ion-icon>
                </button>
                <nav class="navbar" data-navbar>
                    <ul class="navbar-list">
                        <li class="nav-item">
                            <a href="#home" class="nav-link">Início</a>
                        </li>
                        <li class="nav-item">
                            <a href="#about" class="nav-link">Instituições</a>
                        </li>

                        <li  class="nav-item">
                            <a asp-controller="Logar" asp-action="Logout">
                                <svg id="IconSair" xmlns="http://www.w3.org/2000/svg" height="1.2em" viewBox="0 0 512 512">
                                    <!--! Font Awesome Free 6.4.2 by @@fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                    <style>
                                        svg {
                                            fill: #abed1a
                                        }</style>
                                    <path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z" />
                                </svg>
                            </a>   
                        </li>

                        @* <a asp-controller="Logar" asp-action="Index" class="nav-link">
                        Sair
                        </a> *@
                    </ul>

                    @* <a asp-controller="Logar" asp-action="Index"><button class="btn btn-primary">Sair</button></a> *@
                </nav>
            </div>
        </div>
    </header>

    <section>
        <div class="container2">
            <div class="titulo-user-perfil">
                <h1>Perfil Instituição</h1>
            </div>
            <div class="forms-container">
                
                <div class="container-user-perfil">
                    <svg xmlns="http://www.w3.org/2000/svg" height="4em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @@fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z" /></svg>
                </div>
                <div class="container-editar">
                    <button type="button" id="editarButton2">Editar</button>
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @@fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z" /></svg>
                    @*<input type="button" id="editarButton" value="Editar" />*@
                    
                </div>
                <div class="signin-signup">
                    <form asp-controller="" asp-action="" method="POST" class="sign-up-form">
                        <div>
                            <h3 class="">Informações Pessoais</h3>
                            <div class="infoPessoal">
                                <label>Nome</label>
                                <div class="input-field">                           
                                    <input type="text" asp-for="Instituicao.RazaoSocial" readonly />
                                </div>
                                <label>Data de criação</label>
                                @*<div class="input-field">
                                    <input type="text" asp-for="DadosInstituicao.DataCriacao" readonly value="@Model.DadosInstituicao.DataCriacao.ToString("dd/MM/yyyy")" />
                                </div>*@
                                <label>CPF</label>
                                <div class="input-field">
                                    <input type="text" asp-for="Instituicao.CNPJ" readonly />
                                </div>
                                <label>Telefone</label>
                                <div class="input-field">
                                    <input type="text" asp-for="Instituicao.Telefone" readonly />
                                </div>
                            </div>
                        </div>
                        <div>
                            <h3>Endereço</h3>
                            <div class="enderecoDados">
                                <label>Rua</label>
                                <div class="input-field">
                                    <input type="text"  asp-for="Endereco.Logradouro" readonly />
                                </div>
                                <label>Número</label>
                                <div class="input-field">
                                    <input type="text"  asp-for="Endereco.Numero" readonly />
                                </div>
                                <label>CEP</label>
                                <div class="input-field">
                                    <input type="text"  asp-for="Endereco.CEP" readonly />
                                </div>
                                <label>Bairro</label>
                                <div class="input-field">
                                    <input type="text"  asp-for="Endereco.Bairro" readonly />
                                </div>
                                <label>Complemento</label>
                                <div class="input-field">
                                    <input type="text"  asp-for="Endereco.Complemento" readonly />
                                </div>
                                <label>Cidade</label>
                                <div class="input-field">
                                    <input type="text"  asp-for="Endereco.Cidade" readonly />
                                </div>

                                <label>Estado</label>
                                <div class="">
                                    <select asp-for="Endereco.Estado">
                                        <option disabled selected>Estado</option>
                                        <option value="AC">Acre</option>
                                        <option value="AL">Alagoas</option>
                                        <option value="AP">Amapá</option>
                                        <option value="AM">Amazonas</option>
                                        <option value="BA">Bahia</option>
                                        <option value="CE">Ceará</option>
                                        <option value="DF">Distrito Federal</option>
                                        <option value="ES">Espírito Santo</option>
                                        <option value="GO">Goiás</option>
                                        <option value="MA">Maranhão</option>
                                        <option value="MT">Mato Grosso</option>
                                        <option value="MS">Mato Grosso do Sul</option>
                                        <option value="MG">Minas Gerais</option>
                                        <option value="PA">Pará</option>
                                        <option value="PB">Paraíba</option>
                                        <option value="PR">Paraná</option>
                                        <option value="PE">Pernambuco</option>
                                        <option value="PI">Piauí</option>
                                        <option value="RJ">Rio de Janeiro</option>
                                        <option value="RN">Rio Grande do Norte</option>
                                        <option value="RS">Rio Grande do Sul</option>
                                        <option value="RO">Rondônia</option>
                                        <option value="RR">Roraima</option>
                                        <option value="SC">Santa Catarina</option>
                                        <option value="SP">São Paulo</option>
                                        <option value="SE">Sergipe</option>
                                        <option value="TO">Tocantins</option>
                                        <option value="EX">Estrangeiro</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div>
                            <h3>Dados para acesso</h3>
                            <div class="dadosAcesso">
                                <label>E-mail</label>
                                <div class="input-field">
                                    <input type="email" required asp-for="Instituicao.Email" readonly" />
                                </div>
                                <label>Senha</label>
                                <div class="input-field">
                                    <input type="text" required asp-for="Instituicao.Senha" readonly />
                                </div>                                
                            </div>

                            <div class="btn-edicao">
                                <input type="submit" class="btn" name="salvar" value="Salvar" id="salvarButton" style="display: none;" />
                            </div>

                        </div>
                        
                    </form>

                </div>
            </div>
    </section>

    <script>
        $(document).ready(function () {
            let isEditing = false;

            $('#editarButton2').click(function () {
                if (isEditing) {
                    // Se o usuário estava editando e clicou novamente, cancelar a ação.
                    $('input[readonly]').prop('readonly', true);
                    $(this).text("Editar");
                    $('#salvarButton').hide();
                } else {
                    // Se o usuário não estava editando e clicou para editar, permitir a edição.
                    $('input[readonly]').prop('readonly', false);
                    $(this).text("Cancelar");
                    $('#salvarButton').show();
                }

                isEditing = !isEditing;
            });
        });
    </script>
</body>