@using ConecteDoe.WebApp.Models
@model PerfilInstituicaoViewModel


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conecte Doe</title>
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <!--
      - favicon link
    -->
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/gabrielacarv/ConecteDoeImagens/main/ConecteDoe.ico" type="image/svg+xml">

    <!--
      - custom css link
    -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!--
      - custom js link
    -->
    <link rel="stylesheet" href="~/css/PerfilInstituicao.css" asp-append-version="true" />
    <script src="~/js/CadastrarInstituicao.js" asp-append-version="true"></script>

    <!--
      - google font link
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    
    <header>
        <div class="container">

            <a href="#" class="logo">
                <img src="https://raw.githubusercontent.com/gabrielacarv/ConecteDoeImagens/main/LogoConecteDoe.png" width="180px" alt="ConecteDoe logo">
            </a>
            <div class="navbar-wrapper">
                <button class="navbar-menu-btn" data-navbar-toggle-btn>
                    <ion-icon name="menu-outline"></ion-icon>
                </button>
                <nav class="navbar" data-navbar>
                    <ul class="navbar-list">
                        <li class="nav-item">
                            <a href="javascript:void(0);" onclick="goBack()" class="nav-link">Início</a>
                        </li>
                        @*<li class="nav-item">
                            <a href="#about" class="nav-link">Instituições</a>
                        </li>*@

                        <li  class="nav-item">
                            <a asp-controller="Logar" asp-action="Logout">
                                <svg id="IconSair" xmlns="http://www.w3.org/2000/svg" height="1.2em" viewBox="0 0 512 512">
                                    <!--! Font Awesome Free 6.4.2 by @@fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                    <style>
                                        svg {
                                            fill: #abed1a
                                        }</style>
                                    <path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z" />
                                </svg>
                            </a>   
                        </li>

                        @* <a asp-controller="Logar" asp-action="Index" class="nav-link">
                        Sair
                        </a> *@
                    </ul>

                    @* <a asp-controller="Logar" asp-action="Index"><button class="btn btn-primary">Sair</button></a> *@
                </nav>
            </div>
        </div>
    </header>

    <section>
        <div class="container2">
            <div class="titulo-user-perfil">
                <h1>Perfil Instituição</h1>
            </div>
            <div class="forms-container">
                
                <div class="container-user-perfil">
                    <svg xmlns="http://www.w3.org/2000/svg" height="4em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @@fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z" /></svg>
                </div>
                <div class="container-editar">
                    <button type="button" id="editarButton1">Editar</button>
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @@fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z" /></svg>
                    @*<input type="button" id="editarButton" value="Editar" />*@
                    
                </div>
                <div class="signin-signup">
                    <form asp-controller="Instituicao" asp-action="SalvarEdicao" method="POST" class="sign-up-form">
                        <div>
                            <h3 class="">Informações Institucional</h3>
                            <div class="infoPessoal">
                                <label>Razão Social</label>
                                <div class="input-field">                           
                                    <input type="text" asp-for="Instituicao.RazaoSocial" readonly required />
                                </div>
                                @*<label>Data de criação</label>*@
                                @*<div class="input-field">
                                    <input type="text" asp-for="DadosInstituicao.DataCriacao" readonly value="@Model.DadosInstituicao.DataCriacao.ToString("dd/MM/yyyy")" />
                                </div>*@
                                <label>CNPJ</label>
                                <div class="input-field">
                                    <input type="text" id="cnpj" asp-for="Instituicao.CNPJ" readonly required />
                                </div>
                                <label>Telefone</label>
                                <div class="input-field">
                                    <input type="text" id="telefone" asp-for="Instituicao.Telefone" readonly required />
                                </div>
                            </div>
                        </div>
                        <div>
                            <h3>Endereço</h3>
                            <div class="enderecoDados">
                                <label>Rua</label>
                                <div class="input-field">
                                    <input type="text" asp-for="Endereco.Logradouro" readonly required />
                                </div>
                                <label>Número</label>
                                <div class="input-field">
                                    <input type="text" asp-for="Endereco.Numero" readonly required />
                                </div>
                                <label>CEP</label>
                                <div class="input-field">
                                    <input type="text" id="cep" asp-for="Endereco.CEP" readonly required />
                                </div>
                                <label>Bairro</label>
                                <div class="input-field">
                                    <input type="text" asp-for="Endereco.Bairro" readonly required />
                                </div>
                                <label>Complemento</label>
                                <div class="input-field">
                                    <input type="text" asp-for="Endereco.Complemento" readonly required />
                                </div>
                                <label>Cidade</label>
                                <div class="input-field">
                                    <input type="text" asp-for="Endereco.Cidade" readonly required />
                                </div>

                                <label>Estado</label>
                                <div class="">
                                    <select asp-for="Endereco.Estado">
                                        <option disabled selected>Estado</option>
                                        <option value="AC">Acre</option>
                                        <option value="AL">Alagoas</option>
                                        <option value="AP">Amapá</option>
                                        <option value="AM">Amazonas</option>
                                        <option value="BA">Bahia</option>
                                        <option value="CE">Ceará</option>
                                        <option value="DF">Distrito Federal</option>
                                        <option value="ES">Espírito Santo</option>
                                        <option value="GO">Goiás</option>
                                        <option value="MA">Maranhão</option>
                                        <option value="MT">Mato Grosso</option>
                                        <option value="MS">Mato Grosso do Sul</option>
                                        <option value="MG">Minas Gerais</option>
                                        <option value="PA">Pará</option>
                                        <option value="PB">Paraíba</option>
                                        <option value="PR">Paraná</option>
                                        <option value="PE">Pernambuco</option>
                                        <option value="PI">Piauí</option>
                                        <option value="RJ">Rio de Janeiro</option>
                                        <option value="RN">Rio Grande do Norte</option>
                                        <option value="RS">Rio Grande do Sul</option>
                                        <option value="RO">Rondônia</option>
                                        <option value="RR">Roraima</option>
                                        <option value="SC">Santa Catarina</option>
                                        <option value="SP">São Paulo</option>
                                        <option value="SE">Sergipe</option>
                                        <option value="TO">Tocantins</option>
                                        <option value="EX">Estrangeiro</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div>
                            <h3>Dados para acesso</h3>
                            <div class="dadosAcesso">
                                <label>E-mail</label>
                                <div class="input-field">
                                    <input type="email" required asp-for="Instituicao.Email" readonly" />
                                </div>
                                <label>Senha</label>
                                <div class="input-field">
                                    <input type="text" required asp-for="Instituicao.Senha" readonly />
                                </div>                                
                            </div>

                            <div class="btn-edicao">
                                <input type="submit" class="btn" name="salvar" value="Salvar" id="salvarButton1" style="display: none;" />
                            </div>

                        </div>
                        
                    </form>

                </div>
            </div>
    </section>

    <section>
        <div class="container2">
            <div class="titulo-user-perfil">
                <h1>Informações Adicionais</h1>
            </div>
            <div class="forms-container">
                <div class="container-editar">
                    <button type="button" id="editarButton2">Editar</button>
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @@fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z" /></svg>
                    @*<input type="button" id="editarButton" value="Editar" />*@
                </div>
                <div class="signin-signup">
                    <form asp-controller="Instituicao" asp-action="SalvarEdicaoDados" enctype="multipart/form-data" method="POST" class="sign-up-form">
                        <div>
                            <div class="infoPessoal">
                                <label>Causa</label>
                                <div class="input-field">
                                    <textarea asp-for="DadosInstituicao.Causa" readonly required></textarea>
                                </div>
                                <label>Descrição</label>
                                <div class="input-field">
                                    <textarea asp-for="DadosInstituicao.Descricao" readonly required></textarea>
                                </div>
                                <label>Coordenador</label>
                                <div class="input-field">
                                    <input type="text" asp-for="DadosInstituicao.Coordenador" readonly required />
                                </div>
                                <label>Categoria</label>
                                <div>
                                    <select id="categoria" asp-for="DadosInstituicao.Categoria" required>
                                        <option disabled selected> Selecione</option>
                                        <option value="Alimentação">Alimentação</option>
                                        <option value="Animais">Animais</option>
                                        <option value="Arte e cultura">Arte e cultura</option>
                                        <option value="Assistencia Social">Assistencia Social</option>
                                        <option value="Direitos Humanos">Direitos Humanos</option>
                                        <option value="Educação">Educação</option>
                                        <option value="Meio Ambiente">Meio Ambiente</option>
                                        <option value="Saúde">Saúde</option>
                                        <option value="Outro">Outro</option>
                                    </select>
                                </div>
                                <label>Data de criação</label>
                                <div class="input-field">
                                    <input type="text" asp-for="DadosInstituicao.DataCriacao" readonly value="@Model.DadosInstituicao.DataCriacao.ToString("dd/MM/yyyy")" required />
                                </div>
                                <label>Beneficiados Ativos</label>
                                <div class="input-field">
                                    <input type="text" id="quantidadeCarentes" asp-for="DadosInstituicao.QuantidadeCarentes" readonly required />
                                </div>                                                           
                                <label>Chave-Pix</label>
                                <div class="input-field">
                                    <textarea asp-for="DadosInstituicao.ChavePix" readonly required></textarea>
                                </div>
                                <label for="imagem">Escolha uma imagem para capa do perfil:</label>
                                <input type="file" id="imagem" name="Imagem" accept="image/*" asp-for="DadosInstituicao.Imagem" required />
                            </div>
                            <div class="btn-edicao">
                                <input type="submit" class="btn" name="salvar" value="Salvar" id="salvarButton2" style="display: none;" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </section>

    <!--
      - #FOOTER
    -->

    <footer>

        <div class="footer-top">
            <div class="container">

                <div class="footer-brand">

                    <a href="#" class="logo">
                        @*                        <img src="https://raw.githubusercontent.com/gabrielacarv/ConecteDoeImagens/main/LogoConecteDoe.png" width="180px" alt="ConecteDoe logo">
                        *@
                    </a>

                    @*<p class="footer-text">Follow us on</p>

                    <ul class="social-list">

                    <li>
                    <a href="https://github.com/codewithsadee" class="social-link">
                    <ion-icon name="logo-github"></ion-icon>
                    </a>
                    </li>

                    <li>
                    <a href="https://instagram.com/codewithsadee" class="social-link">
                    <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                    </li>

                    <li>
                    <a href="https://youtube.com/c/codewithsadee" class="social-link">
                    <ion-icon name="logo-youtube"></ion-icon>
                    </a>
                    </li>

                    <li>
                    <a href="#" class="social-link">
                    <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                    </li>

                    </ul>*@

                </div>

                <div class="footer-link-box">

                    @*<ul class="footer-link-list">

                    <li>
                    <h3 class="h4 link-title">Company</h3>
                    </li>

                    <li>
                    <a href="#" class="footer-link">About Us</a>
                    </li>

                    <li>
                    <a href="#" class="footer-link">Features</a>
                    </li>

                    <li>
                    <a href="#" class="footer-link">Pricing</a>
                    </li>

                    </ul>

                    <ul class="footer-link-list">

                    <li>
                    <h3 class="h4 link-title">Products</h3>
                    </li>

                    <li>
                    <a href="#" class="footer-link">Blog</a>
                    </li>

                    <li>
                    <a href="#" class="footer-link">Help Center</a>
                    </li>

                    <li>
                    <a href="#" class="footer-link">Contact</a>
                    </li>

                    </ul>

                    <ul class="footer-link-list">

                    <li>
                    <h3 class="h4 link-title">Resources</h3>
                    </li>

                    <li>
                    <a href="#" class="footer-link">FAQ’S</a>
                    </li>

                    <li>
                    <a href="#" class="footer-link">Testimonial</a>
                    </li>

                    <li>
                    <a href="#" class="footer-link">Terms & Conditions</a>
                    </li>

                    </ul>

                    <ul class="footer-link-list">

                    <li>
                    <h3 class="h4 link-title">Relevent</h3>
                    </li>

                    <li>
                    <a href="#" class="footer-link">Why</a>
                    </li>

                    <li>
                    <a href="#" class="footer-link">Products</a>
                    </li>

                    <li>
                    <a href="#" class="footer-link">Customers</a>
                    </li>

                    </ul>*@

                </div>

            </div>
        </div>

        <div class="footer-bottom">
            <p class="copyright">
                &copy; 2023 <a href="#">@@conectedoe</a> All right reserved
            </p>
        </div>

    </footer>

    <script>
        $(document).ready(function () {
            let isEditing = false;

            $('#editarButton1').click(function () {
                if (isEditing) {
                    // Se o usuário estava editando e clicou novamente, cancelar a ação.
                    $('input[readonly]').prop('readonly', true);
                    $(this).text("Editar");
                    $('#salvarButton1').hide();
                } else {
                    // Se o usuário não estava editando e clicou para editar, permitir a edição.
                    $('input[readonly]').prop('readonly', false);
                    $(this).text("Cancelar");
                    $('#salvarButton1').show();
                }

                isEditing = !isEditing;
            });
        });

        $(document).ready(function () {
            let isEditing2 = false;

            $('#editarButton2').click(function () {
                if (isEditing2) {
                    // Se o usuário estava editando e clicou novamente, cancelar a ação.
                    $('input[readonly], textarea[readonly]').prop('readonly', true);
                    $(this).text("Editar");
                    $('#salvarButton2').hide();
                } else {
                    // Se o usuário não estava editando e clicou para editar, permitir a edição.
                    $('input[readonly], textarea[readonly]').prop('readonly', false);
                    $(this).text("Cancelar");
                    $('#salvarButton2').show();
                }

                isEditing2 = !isEditing2;
            });
        });



        $(document).ready(function () {
            // ...

            // Aplica a máscara para o campo de telefone
            $('#telefone').mask('(00) 00000-0000');

            // Aplica a máscara para o campo de CEP
            $('#cep').mask('00000-000');

            // Aplica a máscara para o campo de CNPJ
            $('#cnpj').mask('00.000.000/0000-00');

            // ...
        });


        const inputFile = document.querySelector("#picture__input");
        const pictureImage = document.querySelector(".picture__image");
        const pictureImageTxt = "Choose an image";
        pictureImage.innerHTML = pictureImageTxt;

        inputFile.addEventListener("change", function (e) {
            const inputTarget = e.target;
            const file = inputTarget.files[0];

            if (file) {
                const reader = new FileReader();

                reader.addEventListener("load", function (e) {
                    const readerTarget = e.target;

                    const img = document.createElement("img");
                    img.src = readerTarget.result;
                    img.classList.add("picture__img");

                    pictureImage.innerHTML = "";
                    pictureImage.appendChild(img);
                });

                reader.readAsDataURL(file);
            } else {
                pictureImage.innerHTML = pictureImageTxt;
            }
        });
    </script>
</body>